[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OSMscale"]
	path = OSMscale
	url = https://github.com/brry/osmscale
[submodule "berryFunctions"]
	path = berryFunctions
	url = https://github.com/brry/berryfunctions
[submodule "dwdradar"]
	path = dwdradar
	url = https://github.com/brry/dwdradar
[submodule "extremeStat"]
	path = extremeStat
	url = https://github.com/brry/extremestat
[submodule "rdwd"]
	path = rdwd
	url = https://github.com/brry/rdwd
[submodule "rskey"]
	path = rskey
	url = https://github.com/brry/rskey
